# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=rgames
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/rgames

# JWT Configuration
JWT_SECRET=your-secret-key-here-change-in-production

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:5173,https://www.royalgames.me

# Cloudinary Configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SMTP Configuration (Gmail)
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password

# MercadoPago Configuration (USD)
MERCADOPAGO_ACCESS_TOKEN=your_mercadopago_access_token
MERCADOPAGO_SUCCESS_URL=https://www.royalgames.me/payment-success
MERCADOPAGO_FAILURE_URL=https://www.royalgames.me/payment-failure
MERCADOPAGO_PENDING_URL=https://www.royalgames.me/payment-pending


# PayPal Configuration
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_SUCCESS_URL=https://www.royalgames.me/payment-success-paypal
PAYPAL_CANCEL_URL=https://www.royalgames.me/payment-cancel-paypal

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
